{% extends "base.html" %} 
{% block title %}Languages{% endblock %} 

{% block content %}
<h1 align="center">Set Clock</h1>
<div class="header">
    <div class="dropdown">
        <button class="dropbtn">Select Language</button>
        <div class="dropdown-content">
            <a href="#">English</a>
            <a href="#">French</a>
            <a href="#">German</a>
            <a href="#">Spanish</a>
            <a href="#">Italian</a>
            <a href="#">Swedish</a>
            <a href="#">Danish</a>
            <a href="#">Dutch</a>
        </div>
    </div>
</div>
{% endblock %}